.registrationForm {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  /* background-color: #ffffff; */
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-image: url('https://images.wallpaperscraft.ru/image/single/klaviatura_telefon_rabochij_stol_179668_1920x1080.jpg');
  background-size: cover; /* Розтягнути зображення на весь блок */
  background-position: center;
}

.registrationForm:before {
  /* content: ''; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.6
  ); /* Затемнення: змініть альфа-канал за потреби */
}

.title {
  color: #fdb833;
  font-size: 30px;
  line-height: 1.1;
  max-width: 800px;
  text-align: center;
  font-family: 'Margarine', sans-serif;
  text-shadow: 1px 1px 0 #000;
}

.form {
  width: 100%;
  max-width: 400px;
}

.formLabel {
  display: block;
  margin-bottom: 20px;
  color: #fdb833;
  text-align: left;
  font-family: 'Margarine', sans-serif;
  text-shadow: 1px 1px 0 #000;
}

.formLabelTitle {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 16px;
}

.formInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.formButton {
  width: 100%;
  padding: 10px 15px;
  background-color: #1789fc;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.formButton:hover {
  background-color: #0c65a8;
}
