/* App.module.css */

.container {
  margin: 0 auto;
  padding: 20px;
  max-width: 750px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
}

.navLink {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s;
}

.main {
  padding: 20px;
}

@media (max-width: 1158px) {
  .container {
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .container {
    border-width: 1px;
    padding: 10px;
  }
}

@media (max-width: 428px) {
  .container {
    border-width: 1px;
    padding: 5px;
    max-width: 320px;
  }
}

.navLink:hover {
  color: #fdb833;
  text-decoration: underline; /* Підкреслення при наведенні */
}

.header {
  box-sizing: border-box;
  flex-shrink: 0;
  height: 80px;
  display: flex;
  padding: 10px;
  background-color: #403f4c;
  overflow: hidden;
  position: relative;
  align-content: center;
  gap: 20px;
  border-radius: 0px;
  justify-content: space-evenly;
  align-items: center;
}

.content {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 1000px;
  overflow: hidden;
  z-index: 1;
  position: relative;
  padding: 0;
  align-content: flex-start;
  gap: 40px;
  border-radius: 0px;
}
